
body
{
    background-color: rgb(50, 62, 72);
}

/*aqui empieza header - la parte arriba*/
.header
{
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    height: 80px;
    justify-content: flex-end;
    align-items: center;

}

#proyecto
{
    margin-right: auto;
    color: aliceblue;
    font-family:'Courier New', Courier, monospace;
    font-size: large;
}


.menu
{
    font-family:'Courier New', Courier, monospace;
    display: flex;
    color: aliceblue;
}

.menu a 
{
    text-decoration: none;
    color: white;
    display: block;
    width: 100%;
    height: 100%;
}

.menu > li 
{
    width: 120px;
    text-align: center;
    position: relative;
}

.menu li ul 
{
    position: absolute;
    top: 100%;
    left: 0;

    width: 100%;

    opacity: 0;
    pointer-events: none;

    transition: opacity 0.3s ease;
}

.menu li ul li 
{
    padding: 4px 0;
}

.menu li:hover ul 
{
    opacity: 1;
    pointer-events: auto;
}

ul 
{
    list-style: none;
    margin: 0;
    padding: 0;
}


#Shirley, #Mikhail
{
    display: flex;
    color: aliceblue;
    font-family:'Courier New', Courier, monospace;
    justify-content: center;
    font-size: x-large
}

/*aqui termina header - la parte arriba*/


.main 
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding-top: 200px;
}


#bio
{
    color: aliceblue;
    font-family:'Courier New', Courier, monospace;
    justify-content: center;
    font-size: large;
    max-width: 500px;
}
.Formulario{
    display: block;
    width: fit-content;
    padding: 12px 25px;
    background-color: #e78c0d;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
}

/*la parte con media query*/
@media screen and (max-width:600px)
{
    .menu 
    {
        flex-direction: row;
        align-items: center;
    }

    .menu li ul 
    {
        opacity: 1;
        pointer-events: auto;
    }

    #proyecto
    {
        visibility: hidden;
    }

    .main
    {
        flex-direction: column;
    }
}


/*animacion*/

#foto
{
    animation-name: foto;
    animation-duration: 10s;
    animation-timing-function: ease;
    
}

@keyframes foto
{
  from {
    transform: translateY(-200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
}

